html {
  font-size: 12px;
}

div.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-list {
  width: 40rem;
}

.job-title {
  display: flex;
  width: 15rem;
  margin-top: -1.2rem;
  gap: 0.5rem;
  flex-direction: column;
}

@media (max-width: 800px) {
  div.section {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-list {
    width: auto;
    padding-left: 3rem;
  }
  html {
    font-size: 9px;
  }
  .job-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.3rem;
    gap: 1rem;
  }
}

div.resume {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 800px;
}
h1 {
  text-align: center;
  margin: 0.4rem;
  font-weight: 500;
}
h2 {
  margin: 0.1rem;
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  border-bottom: 1px solid black;
}
h3 {
  font-weight: 600;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.social-media-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
em {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(50, 50, 50);
  font-weight: 500;
}
